<section class="dark" id="home">
    @if (hero is not null)
    {
        <img class="background" src="@(hero.Src)" alt="@(hero.Alt)" />
    }
    <div class="portfolio-container" style="position: absolute; top: 20%; left: 1rem;">
    @if (property is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div style="width: 50%; padding: 4rem; margin: 3rem auto; text-align: left;">
        @if (property is null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <h1>@property.Name</h1>
            <h3>@property.Title</h3>
        }
        </div>
        <div class="portfolio-hero">
            @if (heroyo is not null)
            {
                <img src="@(heroyo.Src)" style="height: 60%; width: 60%; object-fit: cover; border-radius: 1rem; border: 1px solid #555;" 
                    alt="@(heroyo.Alt)" />
            }
        </div>
    }
    </div>
</section>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required HeroImageService HeroImageService { get; set; }

    private SiteProperties? property;
    private HeroImage? hero;
    private HeroImage? heroyo;

    protected override async Task OnInitializedAsync()
    {
        property = await Http.GetFromJsonAsync<SiteProperties>("sample-data/siteproperties.json");
        hero = await HeroImageService.GetHeroAsync(img => img.Name is "about");
        heroyo = await HeroImageService.GetHeroAsync(img => img.Name is "yo");
    }
}
