<section class="light" id="portfolio">
    @if (herob is not null)
    {
        <img class="background" src="@(herob.Src)" alt="@(herob.Alt)" />
    }
    <h2>About me</h2>
    <!-- Section 1 -->
    <div class="portfolio-container">
    @if (projects is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="portfolio-hero">
            @if (hero1 is not null)
            {
                <img src="@(hero1.Src)" style="height: 90%; width: 100%; object-fit: cover; border-radius: 1rem; border: 1px solid #555;" 
                    alt="@(hero1.Alt)" />
            }
        </div>
        <div style="width: 50%; padding: 4rem; margin: 3rem auto; text-align: center;">
        <h2>Tratamiento de datos</h2>
        @if (aboutMe is null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <p style="text-align: justify; padding: 1rem 3rem 0;">Desde la gestión, preparación, preprocesado y toda la manipulación que conlleve, mis habilidades y conocimientos me permiten trabajar con datos de cualquier tipo y modalidad.
            </p>
            <p style="text-align: justify; padding: 1rem 3rem 0;">Ya sean imágenes, texto, audio, datos numéricos, series temporales, etc. mi amplia experiencia me permiten abordar cualquier tipo de problema y necesidad, todo ello complementado con una amplia formación en análisis y visualización de datos y gestión de bases de datos relacionales y no relacionales.
            </p>
            <hr />
            <ul style="text-align: left; columns: 2; font-size: 1rem; margin: 2rem 3rem; gap: 3rem;">
            @foreach (var skill in aboutMe.Skills)
            {
                <li key="@skill">@skill</li>
            }
            </ul>
            <hr />
            <p style="text-align: justify; padding: 1rem 3rem 0;">Todo ello atendido con el más mínimo cuidado y profesionalidad, atendiendo a los conceptos de buenas prácticas en programación y siempre teniendo en cuenta las necesidades del problema a resolver, su utilidad y escalabilidad.</p>
        }
        </div>
    }
    </div>

    <!-- Section 2 -->
    <div class="portfolio-container">
    @if (projects is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div style="width: 50%; padding: 4rem; margin: 3rem auto; text-align: center;">
        <h2>Selección de modelos</h2>
        @if (aboutMe is null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <p style="text-align: justify; padding: 1rem 3rem 0;">
                Desde test estadísticos y contrastes de hipótesis, hasta modelos de lenguage e Inteligencia Artificial generativa.
            </p>
            <p style="text-align: justify; padding: 1rem 3rem 0;">
                Mi formación y amplios conocimientos me permiten abordar cualquier tipo de problema y necesidad, aplicando métodos y modelos como:
            </p>
            <hr />
            <ul style="text-align: left; columns: 2; font-size: 1rem; margin: 2rem 3rem; gap: 3rem;">
            <li key="Aprendizaje Supervisado">Aprendizaje Supervisado</li>
            <li key="Clustering">Clustering</li>
            <li key="Aprendizaje por Refuerzo">Aprendizaje por Refuerzo</li>
            <li key="Procesamiento Natural del Lenguaje (NLP)">Procesamiento Natural del Lenguaje (NLP)</li>
            <li key="IA generativa">IA generativa</li>
            </ul>
            <ul style="text-align: left; columns: 2; font-size: 1rem; margin: 2rem 3rem; gap: 3rem;">
            <li key="Perceptrones Multicapa">Perceptrones Multicapa</li>
            <li key="Redes Convolucionales">Redes Convolucionales</li>
            <li key="Redes GAN">Redes GAN</li>
            <li key="Mecanismos de Atención y Transformers">Mecanismos de Atención y Transformers</li>
            <li key="Redes Neuronales Recurrentes">Redes Neuronales Recurrentes</li>
            <li key="Modelos de Difusión">Modelos de Difusión</li>
            <li key="Y un largo etcétera...">Y un largo etcétera...</li>
            </ul>
            <hr />
            <p style="text-align: justify; padding: 1rem 3rem 0;">Dependiendo de cada tipo de dato y el objetivo a resolver mis capacidades me permiten seleccionar, ajustar o crear el modelo ideal, ya sea desde cero o aplicando métodos de Transferencia de Aprendizaje o Fine-tunig.</p>
        }
        </div>
        <div class="portfolio-hero">
            @if (hero2 is not null)
            {
                <img src="@(hero2.Src)" style="height: 90%; width: 100%; object-fit: cover; border-radius: 1rem; border: 1px solid #555;" 
                    alt="@(hero2.Alt)" />
            }
        </div>
    }
    </div>

    <!-- Section 3 -->
    <div class="portfolio-container">
    @if (projects is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="portfolio-hero">
            @if (hero3 is not null)
            {
                <img src="@(hero3.Src)" style="height: 90%; width: 100%; object-fit: cover; border-radius: 1rem; border: 1px solid #555;" 
                    alt="@(hero3.Alt)" />
            }
        </div>
        <div style="width: 50%; padding: 4rem; margin: 3rem auto; text-align: center;">
        <h2>Entrenamiento, validación y despliegue</h2>
        @if (aboutMe is null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <p style="text-align: justify; padding: 1rem 3rem 0;">
                Desarrollo del modelo en todas sus fases, entrenamiento, validación, testeo y despliegue. Uso de herramientos y software específicos dependiendo de las necesidades del problema, ya sea a pequeña o gran escala.
            </p>
            <p style="text-align: justify; padding: 1rem 3rem 0;">
                Scikit Learn, Tensorflow, Pytorch, Keras, Hugging Face, OpenCV, NLTK, SpaCy y un largo etcétera de librerías y herramientas que me permiten abordar cualquier tipo de problema y necesidad.
            </p>
            <p style="text-align: justify; padding: 1rem 3rem 0;">
                En el caso de ser necesario, mi experiencia en el uso de clusters y centros de computación me permiten abordar problemas de gran escala en los que sea necesaria la paralelización de procesos o modelos, pudiendo entrenar y utilizar modelos de gran tamaño, como es el caso de los Large Language Models Y la Inteligencia Artificial generativa actual.
            </p>
        }
        </div>
    }
    </div>
</section>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required HeroImageService HeroImageService { get; set; }

    private List<Project>? projects;
    private HeroImage? hero;
    private HeroImage? hero1;
    private HeroImage? hero2;
    private HeroImage? hero3;
    private HeroImage? herob;
    private AboutMe? aboutMe;

    protected override async Task OnInitializedAsync()
    {
        projects = await Http.GetFromJsonAsync<List<Project>>("sample-data/projects.json");
        aboutMe = await Http.GetFromJsonAsync<AboutMe>("sample-data/aboutme.json");
        hero = await HeroImageService.GetHeroAsync(img => img.Name is "portfolio");
        herob = await HeroImageService.GetHeroAsync(img => img.Name is "about");
        hero1 = await HeroImageService.GetHeroAsync(img => img.Name is "primera");
        hero2 = await HeroImageService.GetHeroAsync(img => img.Name is "segunda");
        hero3 = await HeroImageService.GetHeroAsync(img => img.Name is "tercera");
    }
}
